* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(0deg, #121215, #121215), radial-gradient(74.44% 50% at 50% 50%, #727275 0%, #2C2C31 100%);
}

.page {
  display: flex;
  gap: 15rem;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;
}

small {
  color: #BEBEBF;

}

.content {
  display: contents;
  gap: 3.2rem;
  padding: 6.4rem;
}

h1 {
  width: 55.9rem;
  height: 4rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 40px;
  /* identical to box height, or 40px */


  /* gray/gray-50 */

  color: #EAEAEA;

}

img {
  width: 32.6rem;
  height: 20rem;
}

p {
  width: 32rem;
  height: 7.8rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;
  font-display: center;
  text-align: justify;
  color: #BEBEBF;
}

/* ASIDE */

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.4rem;
  gap: 2rem;

  width: 42rem;
  height: 32.8rem;
}

aside>img:nth-child(2) {
  border-radius: 80%;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  width: 16rem;
  height: 16rem;
  align-self: center;
  justify-content: center;
  border: 2px solid;
  background: radial-gradient(795.93% 54804.04% at 100% -59.18%, #D39E33 0%, #ED563625.94%, #633BBC 100%);

}

small {
  width: 9.7rem;
  height: 1.9rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 160%;
  /* or 19px */

  color: #BEBEBF;
}

h1 {
  width: 55.9rem;
  height: 4rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 40px;
  color: #EAEAEA;
}

.page>asside>p:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0px; */
  gap: .4rem;

  width: 42rem;
  height: 8rem;

}